html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #352741, #6a0484);
  font-size: 1.5rem;
  color: white;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.container{
  width: 70%;
  margin: 0 auto;
}

@import './form.scss';
@import './alert.scss';